# Credenciales de ARCA (ex AFIP)
# Renombra este archivo a ".env" y coloca tus datos reales.
# ¡NUNCA subas el archivo .env a un repositorio público!

CUIT=20123456789
CERT_PATH=certificado.txt
KEY_PATH=MiClaveDeArcaNachoFigue10
